body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    cursor: url("../dribbble.ico"), default;
    -webkit-overflow-scrolling: touch;
    background: #EA4C89;
    background-image: url(../img/dribbble_icon.svg), linear-gradient(108.84deg, #EA4C89 0%, #9B4CEA 100%);
    background-repeat: no-repeat;
    background-blend-mode: overlay, normal;
    color: white;
}

#app {
  -webkit-tap-highlight-color: transparent;
}

svg {
  width: 100vw;
  height: 100vh;
  max-height: 400px;
  margin-left: 20vw;
}

p {
  font-size: 16px;
  color: white;
  text-align: center;
}
h1 {
    padding: 0% 5%;
    font-size: 8em;
    position: fixed;
    bottom: 1.5em;
    white-space: pre-line;
    line-height: 0.85;
    width: 100%;
}
h1 img{
    width: 160px;
}
.isFlipped {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

#leftarm {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

@media screen and (max-width: 600px) {
    svg {
        max-height: 200px !important;
        margin-left: 0 !important;
    } 
} 
  /* Small Devices, Tablets */
@media (min-width: 0px) and (max-width: 768px) { 
    h1 {
        bottom: 0 !important;
    }
}